{{>layouts/header}}

<br><br><br><br>

<!--점보트론-->
<div class="container">
    <div class="jumbotron jumbotron-fluid text-center">


        <form>
            <div class="form-group" >
                <label for="exampleInputEmail1" class="lab mx-3" >이메일</label>
                <div style="margin:0 auto;width:32%">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="lab mx-3">비밀번호</label>
                <div style="margin:0 auto;width:32%">
                    <input type="password" class="form-control" id="exampleInputPassword1" >
                </div>
            </div>

            <button type="submit" class="log btn btn-dark">오늘의매치 로그인</button>
            <br><br>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="submit" class="log btn btn-dark" >비밀번호 찾기</button>
                <button id="toJoin" type="button" class="log btn btn-primary ml-2">회원가입</button>
            </div>


            <hr>
            <div>or</div>
            <br>

            <a href=#><img src="images/kakao.png"></a>



        </form>






    </div>

</div>



<br>
<br>
<br><br>



<!-- 회원가입 버튼 눌렀을때 이동 -->
<script>
{
const joinBtn = document.querySelector("#toJoin");
joinBtn.addEventListener("click",function(){
window.location='/join';

});
}
</script>


{{>layouts/footer}}