{{>layouts/header}}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div>
            <h3 class="n2 ml-4">매치등록이 완료되었습니다!</h3>
            <br>
            <h4 class="n2 ml-4">상대팀이 신청하면 메세지가 전송됩니다.</h4>
            <br>
            <div class="n2 ml-4"></div>
        </div>
        <hr class="ml-4 mr-4">

        <div class="container d-flex">
            <div class="jumbotron col-md-5"style="background-color:green;">
                <div class="container n2 text-white row">
                    <div class="col-md-3">
                        <p>팀명 </p>
                        <p>종목</p>
                        <p>인원수</p>
                        <p>팀실력</p>
                        <p>날짜</p>
                        <p>위치</p>
                        <p>추가사항</p>
                    </div>
                    {{#matching}}
                    <div class="col-md-9">
                        <p>{{teamName}}</p>
                        <p>{{event}}</p>
                        <p>{{people}}</p>
                        <p>{{ability}}</p>
                        <p>{{gameDay}}</p>
                        <p>{{location}}</p>
                        <p>{{wish}}</p>
                    </div>
                </div>
                        {{/matching}}
            </div>
            <div class="col-md-2 my-auto text-center ">
                <h3 class="ml-4 mr-4 n2">vs</h3>
            </div>

            <div class="jumbotron col-md-5 d-flex align-items-center"style="background-color:green;">

                <div class="container text-white text-center ">
                    <h4 class="n2 ml-4 mr-4 ">상대팀을 기다리는 중 입니다!</h4>
                    <h4 class="n2 ml-4 mr-4"></h4>
                    <div class="d-flex justify-content-center">

                    </div>
                </div>
            </div>
        </div>
        <hr class="ml-4 mr-4">
        <div class="container">
            <br>
            <button type="button" id="list-btn" class="n2 btn btn-dark ">매치목록</button>
        </div>
    </div>
</div>

    <script>
        {
        const listBtn = document.querySelector("#list-btn");
        listBtn.addEventListener("click",function(){
            window.location='/matchList';

        });
    }


    </script>
{{>layouts/header}}