<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- ================bootstrap ================ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <!-- ================bootstrap end================ -->
    <!-- ================day picker================ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- ================day picker end================ -->



    <!--첫번쨰 nav폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
    <!-- 두번째 nav폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- 본문 폰트 설정-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">


    <style>
  body {
      background-color:black;
    }
    .n1{
        font-family : 'Dokdo' , cursive;
      }

    .n2{
        font-family: 'Jua', sans-serif;
      }

    .b1{
        font-family: 'Poor Story', cursive;
      }

  </style>

    <!-- Navbar 코드-->
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color:black;">
        <a  class="n2 navbar-brand text-white" href="/first">오늘의 매치</a>
        <div class="collapse navbar-collapse justify-content-end text-white">
            <ul class="navbar-nav">
                <li class="nav item">
                    <p class="n2"><span style="font-size:24px;">권현택</span> 님 환영합니다!!.</p>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:black ;" >

        <!--<a class="navbar-brand text-white" href="#">Gabuza</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                <li class="nav-item active">
                    <a class="n2 nav-link text-white"href="/first" style="font-size:1.2em">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="n2 nav-link text-white" href="/matchList" style="font-size:1.2em">매치 목록</a>
                </li>
                <li class="nav-item">
                    <a class="n2 nav-link text-white" href="/qna" style="font-size:1.2em">문의하기</a>
                </li>

            </ul>

            <form class="d-flex">
                <input class="n2 form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="n2 btn btn-outline-success mr-4" type="submit">Search</button>
                <button id="login-btn" type="button" class="n2 btn btn-success mr-4">Login</button>

            </form>
        </div>
    </nav>

    <script>
<!-- 로그인 버튼 눌렀을때 이동 -->
    {
        const loginBtn = document.querySelector("#login-btn");
        loginBtn.addEventListener("click",function(){
            window.location='/login';

        });
    }



</script>


    <br><br><br>

<body>
<!-- 입력폼 -->
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div>
            <h3 class="n2 ml-4">매치등록이 완료되었습니다!</h3>
            <br>
            <h4 class="n2 ml-4">상대팀이 신청하면 메세지가 전송됩니다.</h4>
            <br>
            <div class="n2 ml-4"></div>
        </div>
        <hr class="ml-4 mr-4">

        <div class="container d-flex">
            <div class="jumbotron col-md-5"style="background-color:green;">
                <div class="container n2 text-white row">
                    <div class="col-md-3">
                        <p>팀명 </p>
                        <p>종목</p>
                        <p>인원수</p>
                        <p>팀실력</p>
                        <p>날짜</p>
                        <p>위치</p>
                        <p>추가사항</p>
                    </div>
                    {{#matching}}
                    <div class="col-md-9">
                        <p>{{teamName}}</p>
                        <p>{{event}}</p>
                        <p>{{people}}</p>
                        <p>{{ability}}</p>
                        <p>{{gameDay}}</p>
                        <p>{{location}}</p>
                        <p>{{wish}}</p>
                    </div>
                </div>
                        {{/matching}}
            </div>
            <div class="col-md-2 my-auto text-center ">
                <h3 class="ml-4 mr-4 n2">vs</h3>
            </div>

            <div class="jumbotron col-md-5 d-flex align-items-center"style="background-color:green;">

                <div class="container text-white text-center ">
                    <h4 class="n2 ml-4 mr-4 ">상대팀을 기다리는 중 입니다!</h4>
                    <h4 class="n2 ml-4 mr-4"></h4>
                    <div class="d-flex justify-content-center">

                    </div>
                </div>
            </div>
        </div>
        <hr class="ml-4 mr-4">
        <div class="container">
            <br>
            <button type="button" id="list-btn" class="n2 btn btn-dark ">매치목록</button>
        </div>
    </div>
</div>

    <script>
        {
        const listBtn = document.querySelector("#list-btn");
        listBtn.addEventListener("click",function(){
            window.location='/matchList';

        });
    }


    </script>
    <!--footer-->
    <footer>
        <br>
        <div class="text-center">
            <p class="my-1" style="font-size:14px; color:white">이용약관 | 개인정보 처리방침 | 제3자 정보제공 안내</p>
            <p class="my-1" style="font-size:13px; color:white">서울특별시 성북구 삼선교로 10길 67</p>
            <p class="my-1" style="font-size:13px; color:white">사업자번호 : 525-325-3252 | 공동대표 : 권현택,유해동</p>
            <p class="my-1" style="font-size:13px; color:white">고객센터 : 010-1111-1111</p>
        </div>

        <br><br>
    </footer>
    <script src="./assets/js/team-info.js"></script>
</body>
</html>