{{>layouts/header}}

    <br><br><br>

<body>
<!-- 입력폼 -->
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div>
            <h3 class="n2 ml-4">팀 {{matching.teamName}}의 매치정보</h3>
            <br>
            <div class="n2 ml-4">신청을 받고 있습니다. </div>
            <div class="n2 ml-4">신청 가능 버튼을 눌러서 매치를 잡아보세요!</div>
        </div>
        <hr class="ml-4 mr-4">

        <div class="container d-flex">
            <div class="jumbotron col-md-5"style="background-color:green;">
                <div class="container n2 text-white row">
                    <div class="col-md-3">
                        <p>팀명 </p>
                        <p>종목</p>
                        <p>인원수</p>
                        <p>팀실력</p>
                        <p>날짜</p>
                        <p>위치</p>
                        <p>추가사항</p>
                    </div>
                    {{#matching}}
                    <div class="col-md-9">
                        <p>{{teamName}}</p>
                        <p>{{event}}</p>
                        <p>{{people}}</p>
                        <p>{{ability}}</p>
                        <p>{{gameDay}}</p>
                        <p>{{location}}</p>
                        <p>{{wish}}</p>
                    </div>
                </div>
                        {{/matching}}
            </div>
            <div class="col-md-2 my-auto text-center ">
                <h3 class="ml-4 mr-4 n2">vs</h3>
            </div>

            <div class="jumbotron col-md-5 d-flex align-items-center"style="background-color:green;">

                <div class="container text-white text-center ">
                    <h1 class="n2 ml-4 mr-4">?</h1>
                    <h3 class="n2 ml-4 mr-4 ">매치상대가 되어보세요 !</h3>
                    <div class="d-flex justify-content-center">
                        <br><br>
                        <button type="button" class="n2 btn btn-dark ">신청 가능</button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="ml-4 mr-4">
        <div class="container">
            <br>
            <button type="button" id="list-btn" class="n2 btn btn-dark ">매치목록</button>
        </div>
    </div>

    <script>
        {
        const listBtn = document.querySelector("#list-btn");
        listBtn.addEventListener("click",function(){
            window.location='/matchList';

        });
    }


    </script>
{{>layouts/footer}}